.ratings-container{
    display: block;
    width: 100%;
    z-index: 100;
}

.rating-info{
    text-indent: 20px;
    /* display: flex;
    justify-content: space-between; */
    
}

.star-filled{
    color: #ffc107;
}

.rating-div::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit-based browsers (e.g., Chrome, Safari) */
}

.rating-div{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1.5rem;
    gap: 0.5rem;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.2);
}

.rating-sub-div{
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.rating-sub-div:hover{
    /* border: 2px solid #1d0f63; */
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px) {
    .rating-div{
        width: 80%;
    }
}